*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    font-size: calc(12px + 0.4vw);
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    transition: all 0.5s ease;
}

body{
    height: 100%;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 450px){
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    background-color: white;
    cursor: pointer;
}
}

@media (min-width: 450px){
::-webkit-scrollbar-thumb {
    background-color: rgba(234, 126, 3, 0.956);
}

#modal{
    margin-left: 5vw;
    margin-right: 5vw;
}

.about{
    margin-left: auto;
    margin-right: auto;
}

}

.mode{
    width: 75px;
    height: 35px;
    border: none;
    background-color: rgb(237, 225, 225);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.hide{
    display: none;
}

.light{
    border: none;
    background-color: rgba(234, 126, 3, 0.956);
    border-radius: 50%;
    width: 40%;
    height: 100%;
    transform: rotateX(-20deg);
    animation: animate2 0.5s ease-out;
    overflow: hidden;
}

.light-inner{
    border: none;
    background-color: rgba(234, 126, 3, 0.956);
    border-radius: 50%;
    width: 50%;
    height: 90%;
    transform: rotate(15deg);

}

.night{
    position: absolute;
    right: 0;
    border: 1px solid transparent;
    background-color: lightblue;
    border-radius: 50px;
    width: 40%;
    height: 100%;
    transform: rotateX(-20deg);
    animation: animate 0.5s ease-out;
    
}

.night-inner{
    border: none;
    background-color: rgb(237, 225, 225);
    border-radius: 50%;
    width: 60%;
    height: 90%;
    transform:translateX(-3px);
}

@keyframes animate {
    0%{
        transform: translate(-26px);
    }
}

@keyframes animate2 {
    0%{
        transform: translate(26px);
    }
}


@media (max-width: 450px){
    ::-webkit-scrollbar-track {
        background-color: white;
    }

    
    
    header nav > a {
        display: none;
    }
    }

.movement{
    animation: move 2s infinite;
    z-index: 0;
}

@keyframes move{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.2);
    }
    100%{
        transform: scale(1,1);
    }
}


header nav > a{
    padding-right: 16px;
    color: rgb(56, 56, 56)
}

header nav > a:hover{
    color: red;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
    
}

.h2{
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
    padding: 24px 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 1;
    z-index: 2;
}

.top{
    text-align: center;
    margin-top: 15vh;
    line-height: 35px;
    color: rgb(56, 56, 56);
}

.logo-con{
    border: 5px solid black;
    border-radius: 8px;
    border-left-color: rgba(234, 126, 3, 0.956);
    border-right-color: rgba(234, 126, 3, 0.956);
    animation: rotateX 6s infinite;
}

@keyframes rotateX {
    0%{
        transform: rotateY(-360deg);
    }
}

.logo{
    border: none;
    padding: 6px 12px;
    opacity: 0.8;
    font-size: 38px;
    color: black;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rotation{
    animation: rotate 6s infinite;
}

@keyframes rotate {
    0%{
        transform: rotateY(360deg);
    }
}

.wrapper h1{
    font-size: 2.5rem;
    font-weight: 900;
}

.wrapper h2{
    text-align: center;
    color: rgba(234, 126, 3, 0.956);
    font-size: 2rem;
    font-weight: 900;
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn-con{
    margin-top: 25px;
    text-align: center;
}

.btn{
    background-color: rgba(234, 126, 3, 0.956);
    color: rgb(248, 248, 248);
    border: none;
    cursor: pointer;
    transition: all 0.6s ease 0s;
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    border-radius: 5px;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid;
    border-color: rgb(56, 56, 56);
    color: red;
    transition: all 1s ease 0s;
}

a{
    text-decoration: none;
}

.socials{
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

 .github{
    width: 45px;
    height: 40px;
    transition: all 0.6s ease;
}


.intro p{
    font-size: 19px;
    text-align: left;
    border: none;
    width: 80vw;
    height: auto;
    line-height: 25px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color: rgba(234, 126, 3, 0.956);
    box-shadow: 0px 2px 17px #ccc;
    transition: all 0.6s ease;
}

.menu-con{
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 10;
    border: none;
    transition: all 0.6s ease;
    
}

.menulist{
    border: none;
    width: 60vw;
    height: 80vh;
    position: fixed;
    top: 1vh;
    right: 0;
    text-align: left;
    background-color: rgba(234, 126, 3, 0.956);
    transition: all 0.6s ease;
    z-index: 3;
    display: flex;
    flex-direction: column;
}


.menulist a {
    font-size: 25px;
    padding: 20px;
    color: rgb(56, 56, 56);
    
}

.menulist a:hover{
    font-size: 35px;
    margin-left: 15px;
    color: #fff;
    transition: all 1s ease 0s;
    
}

.menu-con .menu{
    border: 2px solid red;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(56, 56, 56);
    color: #fff;
    font-size: 25px;
}

.menu:hover{
    opacity: 0.5;
    color: red;
    transition: all 1s ease 0s;
}

.menu2{
    border: 2px solid red;
    text-align: center;
    cursor: pointer;
    width: 60px;
    height: 55px;

    padding: 5px;
    background-color: red;
    color: #fff;
    font-size: 25px;
    
}

.menu2:hover{
    opacity: 0.5;
    color: red;
    border-color: rgb(56, 56, 56);
    transition: all 1s ease 0s;
}

.menu-close{
    margin-right: auto;
    padding-left: 10px;
   font-size: 25px;
   cursor: pointer;
}

.menu-con .menu-open{
    display: none;
}

@media  (max-width: 450px) {
    .menu-con .menu-open{
        display: block;
    }
}


.border{
    border: 1px solid black;
    width: 70px;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
    background-color: rgba(234, 126, 3, 0.956);
}

.frontend{
    text-align: center;
    border: none;
    width: 80vw;
    height: auto;
    line-height: 25px;
    margin-top: 55px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color: rgba(234, 126, 3, 0.956);
    box-shadow: 0px 2px 17px #ccc;
    font-size: 22px;
    border-radius: 1rem;
    line-height: 33px;
}

.frontend-para{
    padding: 22px;
    font-size: 22px;
    color: black;
}

.frontend-b{
    text-align: center;
    border: 2px solid greenyellow;
    width: 80vw;
    height: auto;
    line-height: 25px;
    margin-top: 55px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color: rgba(234, 126, 3, 0.956);
    box-shadow: 0px 2px 17px #ccc;
    font-size: 22px;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    line-height: 33px;
}

.frontend-c{
    text-align: center;
    border: 2px solid blue;
    width: 80%;
    height: auto;
    line-height: 25px;
    margin-top: 55px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color: rgba(234, 126, 3, 0.956);
    box-shadow: 0px 2px 17px #ccc;
    font-size: 22px;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    line-height: 33px;
}

.about{
    border: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 45px;
    padding: 35px 10px 30px 10px;
    background-color: rgba(234, 126, 3, 0.956);
    text-align: center;
}

.about img{
    max-width: 300px;
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 35px;
    
}

.about p{
    font-size: 22px;
    line-height: 25px;
    text-align: left;
 }
 
.comment{
    border: none;
    width: 100%;
    height: auto;
    margin-top: 35px;
    border-radius: 10px;
    background-color: #fff;
    color: red;
    padding: 15px;
    margin-left: auto;
    margin-right: auto
}

.comment i{
    float:right;
}

.skills-con{
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 33px;
}

.skills-con div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.skillset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsets-para{
    padding: 12px 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.skills{
    width: 70px;
    height: auto;
}

.form-con{
    border-top: 12px solid rgba(234, 126, 3, 0.956);
    border-left: 12px solid rgba(234, 126, 3, 0.956);
    border-right: 12px solid rgba(234, 126, 3, 0.956);
    
    border-radius: 10px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vh;
}

.form-inner{
    text-align: left;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 7px;
    padding: 25px;
    padding-bottom: 10px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
    
}

.form-inner p{
    text-align: left;
}

.form-con .email, .name{
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #ccc;
}

.form-con .message{
    border: none;
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #ccc;
}



footer{
    border: none;
    width: 100%;
    height: 70px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 1;
    background-color: rgba(234, 126, 3, 0.956);
    text-align: center;
    
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.project a{
    text-decoration: underline;
    color: rgb(56, 56, 56);
}

.project a:hover{
    color: red;
}

footer img{
    width: 16px;
    height: 15px;
}
